---
import Husen from "../../assets/Header/HeaderFusen.svg";
---

<header
    id="peel-header"
    class="w-full py-[calc(64/1920*100vw)] px-[calc(656/1920*100vw)] sticky top-0 z-100 flex justify-center items-center overscroll-none pointer-events-none"
>
    <div class="relative pointer-events-auto">
        <div class="header-front">
            <img src={Husen.src} alt="ヘッダー付箋" />
        </div>

        <div
            class="header-back absolute inset-0 bg-gradient-to-tr from-slate-400 via-slate-200 to-slate-500 filter drop-shadow-[-8px_8px_6px_rgba(0,0,0,0.25)]"
        >
        </div>
    </div>
</header>
<script>
    const header = document.getElementById("peel-header");
    let isScrolling = false;
    let showTimeoutId: number | undefined;

    if (header) {
        window.addEventListener(
            "scroll",
            () => {
                clearTimeout(showTimeoutId);

                if (isScrolling) return;
                isScrolling = true;

                header.classList.remove("is-peeling-show");
                header.classList.add("is-peeling-hide");
            },
            { passive: true },
        );

        // 2. スクロール終了を検知
        window.addEventListener("scrollend", () => {
            showTimeoutId = window.setTimeout(() => {
                isScrolling = false;
                header.classList.remove("is-peeling-hide");
                header.classList.add("is-peeling-show");
            }, 1600);
        });
    }
</script>
