---
import { Image } from "astro:assets";
import Pro1 from "../../assets/Profile/Profile-ver2.svg";
---

<section
    class="w-full py-[calc(100/1920*100vw)] flex justify-center items-center flex-col"
>
    <div
        class="w-full px-[calc(214/1920*100vw)] flex justify-center items-center"
    >
        <Image src={Pro1} alt="" class="w-full" />
    </div>
</section>
