---
import { Image } from "astro:assets";
import PageLayout from "../../layouts/PageLayout.astro";
import PageKenkyuuFV from "../../assets/Page/Kenkyuu/KenkyuuFV.svg";
import PageKenkyuuText from "../../assets/Page/Kenkyuu/Kenkyuutext.svg"; //なんかKenkyuuText.svgだとマーカーがバグるので注意
---

<PageLayout>
    <section
        class="pb-[calc(120/1920*100vw)] w-full flex justify-center items-center flex-col gap-[calc(10/1920*100vw)]"
    >
        <div
            class="w-full px-[calc(150/1920*100vw)] pt-[calc(200/1920*100vw)] pb-[calc(102/1920*100vw)] flex justify-center items-center"
        >
            <Image src={PageKenkyuuFV} alt="" />
        </div>
        <div
            class="w-full px-[calc(258/1920*100vw)] flex justify-center items-center"
        >
            <Image src={PageKenkyuuText} alt="" />
        </div>
    </section>
</PageLayout>
